@import 'variables';
@import 'menu';

#app {
    display: grid;
    grid-template-columns: 45% 55%;
    overflow: hidden;
    width: 47.31rem;
    height: 31.125rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    border-radius: 1.3rem;
    background: white;
}


.title-box {
    position: absolute;
    top: 8%;
}

.label-email,
.label-password {
    font-weight: bold;
    color: $principal-color;
    font-size: 13px;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    padding: 2.5rem;

    & .img-logo {
        width: 161px;
        height: 25px;
    }
}

.input-wrapper {
    position: relative;
    width: 100%;

    input {
        border: none;
        display: block;
        width: 299px;
        height: 60px;
        box-sizing: border-box;
        padding-left: 1.5rem;

        &::placeholder {
            color: $tertiary-color;
        }
    }
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn {
    background-color: $principal-color;
    color: white;
    gap: 5px;
    border-radius: 100px;
    font-size: 13px;
    width: 299px;
    height: 40px;
    border: none;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-content img {
    object-fit: cover;
    display: block;
    margin-left: auto;
    border-radius: 20px;
    padding: 10px;
}

.title {
    color: $principal-color;
    font-size: 26px;
}

.subtitle {
    color: $secondary-color-50;
    font-size: 13px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}